.screencast {
    position: relative;
    width: 363px;
    height: 502px;
}

.login {
    position: absolute;
    top: 270px;
    left: 128px;
    width: 170px;
    height: 25px;
    padding: 2px;
    overflow: hidden;
    border: solid 1px #ddd;
    background: #FFF;
}

.login.typed:after {
    content: "";
    display: inline-block;
    height: 20px;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
    border-left: solid 1px #333;
    -webkit-animation: blink .5s infinite;
    -o-animation: blink .5s infinite;
    animation: blink .5s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.password {
    position: absolute;
    top: 305px;
    left: 128px;
    width: 170px;
    height: 25px;
    padding: 2px;
    overflow: hidden;
    border: solid 1px #ddd;
    background: #FFF;
}

.password .type-text {
    margin-right: 15px;
}

.focused {
    outline: 0;
    border: 1px solid #4473bf!important;
    background: #fff;
    -webkit-box-shadow: #3376e3 0 0 10px,
        rgba(0,0,0,.5) 0 3px 4px -1px inset;
    -moz-box-shadow: #3376e3 0 0 10px,
        rgba(0,0,0,.5) 0 3px 4px -1px inset;
    box-shadow: #3376e3 0 0 10px,
        rgba(0,0,0,.5) 0 3px 4px -1px inset;
}

.box {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 35px;
    width: 50px;
    background: rgb(255, 91, 15);
    border-radius: 6px;
    opacity: 0;
}

.target {
    width: 50px;
    height: 50px;
    margin: 0 30px;
    border: solid 2px red;
    border-radius: 50%;
}

.movie {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}